<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Organizers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <script>

        var mymodule = angular.module("kuchModule", []);

        mymodule.controller("kuchController", function ($scope, $http) {

            $scope.doFetch = function () {

                var url = "/do-Fetch-Organizers?txtEmail=" + $scope.txtEmail;
                $http.get(url).then(allGoodFx, someBadFx);
                function allGoodFx(response) {

                    //resp in JSON array
                    // alert(JSON.stringify(response.data));
                    $scope.jsonarray = response.data;

                }

                function someBadFx(response) {
                    alert(JSON.stringify(response.data));
                }
            }

            $scope.doDelete = function (Email_ID) {

                var url = "/delete-organizer?Email_ID=" + Email_ID;

                $http.get(url).then(allGoodFx, someBadFx);
                function allGoodFx(response) {
                    alert(JSON.stringify(response.data));//resp in string
                    $scope.doFetch();
                }

                function someBadFx(response) {
                    alert(JSON.stringify(response.data));
                }
            }

        })

    </script>
</head>
<!-- JsonArray -->

<body ng-app="kuchModule" ng-controller="kuchController" style="background-color: black;">


    <nav class="navbar" style="line-height: .5vh;background-color: #FF0090;">
        <div class="container-fluid">
            <div class="ms-1" style="width: 40rem;">
                <div class="ms-1">
                    <a href="./images/download (5).jpeg">
                        <img src="./images/download (5).jpeg" alt=""
                            style="border-radius: 50%;background-color: white;height: 3vh;float: left;">
                    </a>
                </div>
                <span class="navbar-brand ms-2"
                    style="font-style: italic;color: white;float: left;font-size: 17px;margin-top: .5vh;">www.VictoryVault.com</span>
            </div>
        </div>
    </nav>

    <div class="container mt-5" style="text-align: center;">

        <div class="input-group flex-nowrap mb-3" style="border: 1px black solid;">
            <span class="input-group-text" id="addon-wrapping">@</span>
            <input type="text" class="form-control" placeholder="Email ID" aria-label="Username"
                aria-describedby="addon-wrapping" id="txtEmail" ng-model="txtEmail">
        </div>
        <center class="mb-3">
            <input type="button" class="btn" style="background-color: #FF0090;color: white;" value="Fetch All Data" ng-click="doFetch();">
        </center>
        <DIV class="table-responsive">
            <table class="table table-dark table-striped-columns">
                <thead>
                    <tr>
                        <th scope="col">S.No</th>
                        <th scope="col">Email ID</th>
                        <th scope="col">Organisation_Name</th>
                        <th scope="col">State</th>
                        <th scope="col">Deals In Sports</th>
                        <th scope="col">Operations</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="obj in jsonarray">
                        <td>{{$index+1}}</td>
                        <td>{{obj.Email_ID}}</td>
                        <td>{{obj.Organisation_Name}}</td>
                        <td>{{obj.State}}</td>
                        <td>{{obj.Deals_In_Sports}}</td>
                        <td>
                            <center>
                                <input type="button" class="btn btn-light" value="Delete"
                                    ng-click="doDelete(obj.Email_ID);">
                            </center>
                        </td>
                    </tr>
                </tbody>
            </table>
        </DIV>
    </div>

    <nav class="navbar fixed-bottom" style="line-height: .5vh;background-color: #FF0090;">
        <div class="container-fluid">
            <div class="ms-1" style="width: 40rem;">
                <div class="ms-1">
                    <a href="./images/download (5).jpeg">
                        <img src="./images/download (5).jpeg" alt=""
                            style="border-radius: 50%;background-color: white;height: 3vh;float: left;">
                    </a>
                </div>
                <span class="navbar-brand ms-2"
                    style="font-style: italic;color: white;float: left;font-size: 17px;margin-top: .5vh;">www.VictoryVault.com</span>
            </div>
        </div>
    </nav>

</body>

</html>