<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Tournaments</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <script>

        var mymodule = angular.module("kuchModule", []);

        mymodule.controller("kuchController", function ($scope, $http) {


            $scope.doDelete = function (R_ID) {

                var url = "/delete-one?ridKuch=" + R_ID;

                $http.get(url).then(allGoodFx, someBadFx); // $http.get in angularJS = $ajax.get in jquery
                function allGoodFx(response) {
                    //    alert(JSON.stringify(response.data));//resp in string
                    $scope.doFetch();
                }

                function someBadFx(response) {
                    alert(JSON.stringify(response.data));
                }
            }
            $scope.doFetch = function () {

                var url = "/do-Fetch?Email_ID=" + localStorage.getItem("activeUser");

                $http.get(url).then(allGoodFx, someBadFx);
                function allGoodFx(response) {
                    
                    $scope.jsonarray = response.data;
                }

                function someBadFx(response) {
                    alert(JSON.stringify(response.data));
                }
            }


        })

    </script>
    <script>
        function showUser() {
            let activeUser = localStorage.getItem("activeUser");
            document.getElementById("txtEmail").value = activeUser;
        }
    </script>
</head>
<!-- JsonArray -->

<body ng-app="kuchModule" ng-controller="kuchController" style="background-color: black;" onload="showUser();"
    ng-init="doFetch();">

    <nav class="navbar" style="line-height: .5vh;background-color: #FF0090;">
        <div class="container-fluid">
            <div class="ms-1" style="width: 40rem;">
                <div class="ms-1">
                    <a href="./images/download (5).jpeg">
                        <img src="./images/download (5).jpeg" alt=""
                            style="border-radius: 50%;background-color: white;height: 3vh;float: left;">
                    </a>
                </div>
                <span class="navbar-brand ms-2"
                    style="font-style: italic;color: white;float: left;font-size: 17px;margin-top: .5vh;">www.VictoryVault.com</span>
            </div>
        </div>
    </nav>


    <div class="container">

        <div class="display-5 mt-4 text-white" style="font-family: 'Poppins', Dancing Script;text-align: center;">
            Your Tournaments
        </div>

        <div class="table-responsive">
        <table class="table table-dark table-striped align-middle text-center mt-4">
            <thead>
                <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">Event Name</th>
                    <th scope="col">Sport</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Location</th>
                    <th scope="col">Prize</th>
                    <th scope="col">Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="obj in jsonarray">
                    <td>{{$index+1}}</td>
                    <td>{{obj.Event_Name}}</td>
                    <td>{{obj.Sport}}</td>
                    <td>{{obj.DOE|date:'dd-mm-yyyy'}}</td>
                    <td>{{obj.TOE}}</td>
                    <td>{{obj.Address}}</td>
                    <td>{{obj.Prize}}</td>
                    <td>
                        <input type="button" value="Remove" class="btn btn-light"
                            ng-click="doDelete(obj.R_ID);">
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>


    <nav class="navbar fixed-bottom" style="line-height: .5vh;background-color: #FF0090;">
        <div class="container-fluid">
            <div class="ms-1" style="width: 40rem;">
                <div class="ms-1">
                    <a href="./images/download (5).jpeg">
                        <img src="./images/download (5).jpeg" alt=""
                            style="border-radius: 50%;background-color: white;height: 3vh;float: left;">
                    </a>
                </div>
                <span class="navbar-brand ms-2"
                    style="font-style: italic;color: white;float: left;font-size: 17px;margin-top: .5vh;">www.VictoryVault.com</span>
            </div>
        </div>
    </nav>

</body>

</html>