<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Tournaments</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <script>
        var mymodule = angular.module("kuchModule", []);

        mymodule.controller("kuchController", function ($scope, $http) {

            $scope.jsonArray = [];

            $scope.doFetchAll = function () {
                if (!$scope.selCity && !$scope.selSport && !$scope.selAge) {
                    alert("Please select City, Sport and Age properly.");
                    return;
                }

                if (!$scope.selCity && !$scope.selSport) {
                    alert("Please choose your City and Sport");
                    return;
                }
                if (!$scope.selCity && !$scope.selAge) {
                    alert("Please choose your City and Age");
                    return;
                }
                if (!$scope.selSport && !$scope.selAge) {
                    alert("Please select your Sport and Age");
                    return;
                }
                if (!$scope.selCity) {
                    alert("Please select your City");
                    return;
                }
                if (!$scope.selSport) {
                    alert("Please choose your Sport");
                    return;
                }
                if (!$scope.selAge) {
                    alert("Please select your Age");
                    return;
                }

                var url = "/do-fetch-all-tournaments?kuchCity=" + $scope.selCity + "&kuchSport=" + $scope.selSport + "&kuchAge=" + $scope.selAge;

                $http.get(url).then(allGoodFx, someBadFx);
                function allGoodFx(response) {
                    //resp in JSON array
                    // alert(JSON.stringify(response.data));
                    $scope.jsonArray = response.data;
                }

                function someBadFx(response) {
                    alert(JSON.stringify(response.data));
                }
            }
            $scope.oneRecord = {};
            $scope.doShowDetails = function (index) {
                //alert(JSON.stringify($scope.jsonArray[index]))
                $scope.oneRecord = $scope.jsonArray[index];

            }

            //--------------------------

            $scope.cities = [{}];
            $scope.doFetchAllCities = function () {
                var url = "/do-fetch-all-cities";

                $http.get(url).then(allGoodFx, someBadFx);
                function allGoodFx(response) {
                    //resp in JSON array
                    // alert(JSON.stringify(response.data));
                    $scope.cities = response.data;
                }

                function someBadFx(response) {
                    alert(JSON.stringify(response.data));
                }
            };
            $scope.sports = [{}];
            $scope.doFetchAllSports = function () {
                var url = "/do-fetch-all-sports";

                $http.get(url).then(allGoodFx, someBadFx);
                function allGoodFx(response) {
                    //resp in JSON array
                    // alert(JSON.stringify(response.data));
                    $scope.sports = response.data;
                }

                function someBadFx(response) {
                    alert(JSON.stringify(response.data));
                }
            };

            $scope.age = [];
            $scope.doFetchAge = function () {
                var url = "/do-fetch-age";

                $http.get(url).then(allGoodFx, someBadFx);
                function allGoodFx(response) {
                    //resp in JSON array
                    // alert(JSON.stringify(response.data));
                    $scope.Min_age = response.data[0].Min_age;
                    $scope.Max_age = response.data[0].Max_age;

                    let i = $scope.Min_age;
                    let index = 0;
                    while (i <= $scope.Max_age) {
                        $scope.age[index] = i;
                        i++;
                        index++;
                    }
                }

                function someBadFx(response) {
                    alert(JSON.stringify(response.data));
                }
            };
        })
    </script>

</head>

<body ng-app="kuchModule" ng-controller="kuchController" style="background-color: black;">

    <nav class="navbar" style="line-height: .5vh;background-color: #FF0090;">
        <div class="container-fluid">
            <div class="ms-1" style="width: 40rem;">
                <div class="ms-1">
                    <a href="./images/download (5).jpeg">
                        <img src="./images/download (5).jpeg" alt=""
                            style="border-radius: 50%;background-color: white;height: 3vh;float: left;">
                    </a>
                </div>
                <span class="navbar-brand ms-2"
                    style="font-style: italic;color: white;float: left;font-size: 17px;margin-top: .5vh;">www.VictoryVault.com</span>
            </div>
        </div>
    </nav>

    <center>
        <div class="container mt-4 mb-4 text-white">
            <div class="row">
                <div class="col-md-4">
                    <label class="form-label" for="comboCity" ng-init="doFetchAllCities();"> City </label>
                    <select ng-model="selCity" class="form-select" id="comboCity">
                        <option value="" selected disabled>Select</option>
                        <option ng-repeat="obj in cities" value="{{obj.City}}" id="{{obj.City}}">
                            {{obj.City}}
                        </option>
                    </select>
                </div>

                <div class="col-md-4" ng-init="doFetchAllSports();">
                    <label for="comboSport" class="form-label"> Sport </label>
                    <select class="form-select" ng-model="selSport" id="comboSport">
                        <option selected value="" disabled>Select</option>
                        <option value="{{obj.Sport}}" ng-repeat="obj in sports" id="{{obj.Sport}}">
                            {{obj.Sport}}
                        </option>
                    </select>
                </div>

                <div class="col-md-4" ng-init="doFetchAge();">
                    <label for="comboAge" class="form-label"> Age </label>
                    <select class="form-select" ng-model="selAge" id="comboAge">
                        <option selected value="" disabled>Select</option>
                        <option value="{{AGE}}" ng-repeat="AGE in age" id="{{AGE}}">
                            {{AGE}}
                        </option>
                    </select>
                </div>

            </div>
            <input type="button" value="Find Tournaments" class="btn btn-light mt-4 mb-4" ng-click="doFetchAll();">
            <div class="row">
                <div class="col-md-3 mb-3" ng-repeat="obj in jsonArray">
                    <div class="card text-white border border-light" style="border-radius: 20px;color: white;background-color: #FF0090;">
                        <div class="card-title mt-3" style="font-size: larger;font-weight: 700;color: white;">
                            <center>
                                {{obj.Event_Name}}
                            </center>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <p>
                                    Sport: {{obj.Sport}}
                                </p>
                            </div>
                            <div class="card-text">
                                <p>
                                    Date of Event: {{obj.DOE|date:'dd-mm-yyyy'}}
                                </p>
                            </div>
                            <div class="card-text">
                                <p>
                                    Address: {{obj.Address}} | City: {{obj.City}}
                                </p>
                            </div>
                            <div class="card-text">
                                <p>
                                    Last Date of Registration: {{obj.LastDate|date:'dd-mm-yyyy'}}
                                </p>
                            </div>
                            <div class="card-text">
                                <input type="button" class="btn btn-light" value="Details" data-bs-toggle="modal"
                                    data-bs-target="#detailsModal" ng-click="doShowDetails($index);">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true" style="background-color: rgba(0, 0, 0, 0.5);">
                <div class="modal-dialog mt-5">
                    <div class="modal-content bg-dark text-white"
                        style="font-size: larger;border: 5px white double;border-radius: 20px;text-transform: uppercase;">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 ms-auto" id="exampleModalLabel">
                                <b>
                                    {{oneRecord.Event_Name}}
                                </b>
                            </h1>
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <p class="align-left-bold-heading">
                                Date of Event : {{oneRecord.DOE|date:'dd-mm-yyyy'}}
                            </p>
                            <p class="align-left-bold-heading">
                                Time Of Event : {{oneRecord.TOE}}
                            </p>
                            <p class="align-left-bold-heading">
                                Address : {{oneRecord.Address}} || City : {{oneRecord.City}}
                            </p>
                            <p class="align-left-bold-heading">
                                Sport : {{oneRecord.Sport}}
                            </p>
                            <p class="align-left-bold-heading">
                                Minimum Age : {{oneRecord.Min_age}} || Maximum Age : {{oneRecord.Max_age}}
                            </p>
                            <p class="align-left-bold-heading">
                                Last Date Of Registration : {{oneRecord.LastDate|date:'dd-mm-yyyy'}}
                            </p>
                            <p class="align-left-bold-heading">
                                Entry Fees : {{oneRecord.Fee}}
                            </p>
                            <p class="align-left-bold-heading">
                                Prize : {{oneRecord.Prize}}
                            </p>
                            <p class="align-left-bold-heading">
                                Contact : {{oneRecord.Contact}}
                            </p>
                        </div>

                    </div>
    </center>


    <nav class="navbar fixed-bottom" style="line-height: .5vh;background-color: #FF0090;">
        <div class="container-fluid">
            <div class="ms-1" style="width: 40rem;">
                <div class="ms-1">
                    <a href="./images/download (5).jpeg">
                        <img src="./images/download (5).jpeg" alt=""
                            style="border-radius: 50%;background-color: white;height: 3vh;float: left;">
                    </a>
                </div>
                <span class="navbar-brand ms-2"
                    style="font-style: italic;color: white;float: left;font-size: 17px;margin-top: .5vh;">www.VictoryVault.com</span>
            </div>
        </div>
    </nav>


</body>

</html>